<ul class="sidebar">
    {% for p_category in p_categories %}
        <li><input type="checkbox" id="hd-1" class="hide"/>
         <label for="hd-1" >{{ p_category }}</label>
        <div>
            <ul class="list-categories">
            {% for category in p_category.get_categories_by_parent %}
                <li><a href="{{ category.get_absolute_url  }}"><span id="name">{{ category }}</span> ({{ category.get_num_task_by_cat }})</a></li>
            {%endfor%}
            </ul>
        </div>
    {%endfor%}
    <li><a href="{% url 'category_detail'  category_slug='vse-razdely' %}">Все разделы</a></li>
</ul>