{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ Title }}</title>
    <link type="text/css" href="{% static 'mainapp/css/styles.css' %}" rel="stylesheet"/>
</head>
<body>

{% block mainmenu %}
<ul>
{#{% for point in menu %}#}
    <li><a href={% url 'home' %}>Выбрать раздел</a></li>
    <li><a href={% url 'info' %}>О сайте</a></li>
    <li><a href={% url 'recources' %}>Ссылки на полезные ресурсы</a></li>
    <li><a href={% url 'login' %}>Войти</a></li>
    <li><a href={% url 'regin' %}>Зарегестрироваться</a></li>

{#{%endfor%}#}
</ul>
{% endblock mainmenu %}

{% block content %}
{% endblock content %}

</body>
</html>