{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script id='MathJax script' async src="https://cdn.jsdelivr.net/npm/mathjax@3.0.0/es5/tex-mml-chtml.js"></script>
{% block title %}
    <title>PhoForum</title>
{% endblock title %}
    <link type="text/css" href="{% static 'mainapp/css/styles.css' %}" rel="stylesheet"/>
</head>
<body>
<header>
    <h1>PhoForum</h1>
    <nav><ul class="menu">
        <li><a href={% url 'home' %}>Выбрать раздел</a></li>
        <li><a href={% url 'info' %}>О сайте</a></li>
        <li><a href={% url 'addtask' %}>Добавить задачу</a></li>
        <li><a href={% url 'ext_resources' %}>Ссылки на полезные ресурсы</a></li>
        <li><a href={% url 'login' %}>Войти</a></li>
        <li><a href={% url 'regin' %}>Зарегистрироваться</a></li>
    </ul></nav>
</header>

<div id="page-content">
<div id="sidebar">
{% block sidebar %}
{% endblock sidebar %}
</div>

<div id="category-content">
{% block category-content %}
{% endblock category-content %}
</div>
</div>

<footer>Поддержка. Студентам на сухарики</footer>
</body>
</html>
