{% load static %}
{% load show_sidebar %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script id='MathJax script' async src="https://cdn.jsdelivr.net/npm/mathjax@3.0.0/es5/tex-mml-chtml.js"></script>

{% block title %}
    <title>PhoForum</title>
{% endblock title %}

    <link type="text/css" href="{% static 'mainapp/css/styles.css' %}" rel="stylesheet"/>
</head>
<body>
<header>
    <h1>PhoForum</h1>
    <ul class="menu">
        {% if request.user.is_authenticated %}
        <li {% if section == 'dashboard' %} class="selected"{% endif %}>
            <a href={% url 'dashboard' %}>My dashboard</a>
        {% endif %}
        <li><a href={% url 'info' %}>О сайте</a></li>
        <li><a href={% url 'add_task' %}>Добавить задачу</a></li>
        <li><a href={% url 'login' %}>Log-in</a></li>
        <li><a href={% url 'logout' %}>Log-out</a></li>
    </ul>
</header>

<div class="wrapper">
    <div class="category-sidebar">
        {% show_sidebar %}
    </div>

    <div class="page-content">
        {% block page_content %}
        {% endblock page_content %}
    </div>
</div>

<footer>Поддержка. Студентам на сухарики</footer>
</body>
</html>
