{% extends 'mainapp/base.html' %}
{% load show_sidebar %}

{% block title %}
    <title>{{ category }}</title>
{% endblock title %}

{% show_sidebar %}

{% block page_content %}
    <p class="category-title">Задачи по выбранной категории {{ category }}</p>
    <a href="">Смотреть теорию</a>

    <ul class="list-tasks">
        {% for task in tasks %}
            {% include 'mainapp/task_block.html' with task=task num=forloop.counter %}
        {%endfor%}
    </ul>
    {% include 'mainapp/pagination.html' with page=tasks %}
{% endblock page_content %}


