{% extends 'mainapp/base.html' %}

{% block content %}

<p class="category-title">Задачи по выбранной категории {{ category }}</p>

<ul class="list-tasks">
{% for task in tasks %}
    <li class="task">
        <div class="task-name">
            <span id="num">Задача 1.</span>
            <span id="info">{{ task.get_name }}</span>
        </div>

{#        <div class="task-text">{{ task }}</div>#}

    {% if task.image %}
        <div><img src="{{ task.image.url }}" class="task-img">{{ task }}</div>
    {% else %}
        <div class="task-text-if-not-img">{{ task }}</div>
    {% endif %}

        <ul class="task-action">
            <li><a href={% url 'task' category_slug=task.category.slug task_id=task.id %}>Ответ</a></li>
            <li><a href={% url 'task' category_slug=task.category.slug task_id=task.id %}>Решение</a></li>
            <li><a href="{{ task.get_absolute_url }}">Обсуждение</a></li>
        </ul>
    </li>
    <hr>
{%endfor%}
</ul>
{% endblock content %}