{% extends 'mainapp/base.html' %}

{% block content %}
    <h1>{{ title }}</h1>
    <p>Задачи по выбранной категории {{ category }}</p>

    <ul>
    {% for task in tasks %}
        <li>
            <h2>{{ task.get_name }}</h2>
            <p>{{ task }}</p>
            <p><a href={% url 'task' category_slug=task.category.slug task_id=task.id %}>Ответ</a></p>
            <p><a href={% url 'task' category_slug=task.category.slug task_id=task.id %}>Решение</a></p>
            <p><a href="{{ task.get_absolute_url }}">Обсуждение</a></p>
            <hr>
        </li>
    {%endfor%}
    </ul>
{% endblock content %}