{% extends 'mainapp/base.html' %}
{% load comments_tree %}

{% block content %}
    <h1>{{ title }}</h1>

    {% if task.title %}
    <p>Задача{{ task.title }}</p>
    {% endif %}

    {% if task.image %}
        <p><img class="img-article-left" src="{{ task.image.url }}"></p>
    {% endif %}

    <p>Задача{{ task.content }}</p>

    <h1>Чат</h1>
    <ul>
    {% for comment in comments %}    # |comments_filter
        <li>{{ comment }}<br>
        {{ comment.timestamp_create }}
        </li>
    {%endfor%}
    </ul>
{% endblock content %}