<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
          <a href="?page={{ page_obj.previous_page_number }}"> << </a>
        {% endif %}
        {% for num_page in page_obj.paginator.page_range %}
{#            {% if num_page == curr_page %}#}
{#                <span class="current">#}
{#                    стр. {{ page_obj.number}}#}
{#                </span>#}
{#            {% else %}#}
                <a href="?page={{ num_page }}">{{ num_page }}</a>
{#            {% endif %}#}
        {% endfor %}
        {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}"> >> </a>
        {% endif %}
    </span>
</div>
