{% extends 'forum/base.html' %}
{% load comments_tree %}
{% load show_sidebar %}

{% show_sidebar %}

{% block page_content %}
    {% include 'forum/category/task_block.html' with task=task %}

    <p>{{ solutions.count }} решений</p>
    {% for solution in solutions %}
        <div class="solution">
            <div class="title-container">
                <div class="author">{{ solution.author }}</div>
                <div class="created">{{ solution.created }}</div>
            </div>
            <div class="text">{{ solution.body }}</div>
            {% if solution.updated != solution.created %}
                <div class="updated">upd: {{ solution.updated }}</div>
            {% endif %}
            <p>Комментарии:</p>
            <div class="comments-after-solution">
                {% include 'forum/category/comment_list.html' with comments=solution.comments.all %}
                {% include 'forum/category/forms/comment_form.html' with form=comment_form category_slug=category.slug task_id=task.id solution_id=solution.id %}
            </div>
        </div>
    {% endfor %}
    {% include 'forum/category/forms/solution_form.html' with form=solution_form category_slug=category.slug task_id=task.id %}
{% endblock page_content %}