body{
  font-family: sans-serif;
  font-size: 15px;
  color: rgb(55, 53, 47);
}


.menu {
  list-style: none; /*убираем маркеры списка*/
  margin: 0; /*убираем верхнее и нижнее поле, равное 1em*/
  display: flex;
  padding-left: 0;
  background: #bbf8fc;
  width: 100%;
  text-align: left;
}

.menu a {
  text-decoration: none; /*убираем подчеркивание текста ссылок*/
  display: inline-block;
  padding: 10px;
  padding-left: 20px;
}

.list-categories a, .task-action a{
  text-decoration: none; /*убираем подчеркивание текста ссылок*/
  display: inline-block;
  padding: 10px;
}

h1{
  margin: 10px 10px 30px 20px;
  font-size: 3em;
}

.content{
  padding: 10px 96px;
}

/* --- for category.html page --- */


p.category-title{
  margin-left: 20px;
  margin-bottom: 20px;
  font-size: 1.4em;
  color: rgba(55, 53, 47, 0.6);
}

ul.list-tasks{
  list-style-type: none;
  margin-left: 100px;
  padding-left: 0;
  margin-right: 100px;
  max-width: 60%;
}

.task{
  display: inline-block;
}

.task-name{
  font-size: 1.2em;
  margin: 20px;
  margin-left: 0;
}

.task-img{
  height: 200px;
  float: right; /* Выравнивание по правому краю  */
  margin: 0 0 20px 20px; /* Отступы вокруг картинки */
  max-block-size: 180px;
}

.task-action{
  list-style: none; /*убираем маркеры списка*/
  margin: 0; /*убираем верхнее и нижнее поле, равное 1em*/
  padding-left: 0; /*убираем левый отступ, равный 40px*/
  display: flex;
  margin-top: 10px;
}

.task-action a{
  padding-top: 5px;
  padding-left: 0;
  padding-bottom: 5px;
}


/* --- for category.html page --- */
