/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 15px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

body{
    font-family: sans-serif;
    color: rgb(55, 53, 47);
    font-size: 15px;
    line-height: 1.5;
}



a{
  text-decoration: none; /*убираем подчеркивание текста ссылок*/
  display: inline-block;
}

a:hover{
    text-decoration: underline;
}

a:visited{
    color: inherit;
}

.list-categories li:hover{
    background: #D3D1CB;
}

.list-categories a:hover{
    text-decoration: none;
}

.menu {
    list-style: none; /*убираем маркеры списка*/
    margin: 0 96px 0 76px; /*убираем верхнее и нижнее поле, равное 1em*/
    display: flex;
    padding-left: 0;
}

.menu a {
    padding: 10px;
    padding-left: 20px;
}


h1{
    padding: 25px 10px 40px 76px;
    font-size: 4em;
    font-weight: 700;
    line-height: 1.2;
}

#wrapper{
    padding: 30px 96px;
    margin: 0;
    display: flex;
}


footer{
    background: #202530;
    color: white;
    text-align: center;
    width: 100%;
    flex-shrink: 0;
    display: none;
}


/*for cat-detail.html page*/


/* скрываем чекбоксы и блоки с содержанием */
.hide, .hide + label ~ div {
    display: none;
}

/* когда чекбокс активен показываем блоки с содержанием  */
.hide:checked + label + div {
    display: block;
    padding: 10px;
}

/*--------------------*/


/*for cat_detail.html page*/

/*#category-content{*/
/*    width: 200px;*/
/*}*/

#page-content li{
    margin: 10px 0;
    font-weight: 700;
}

.category-title{
    margin: 0 0 30px 0;
    font-size: 1.4em;
    color: rgba(55, 53, 47, 0.6);
}

#page-content{
    margin-left: 80px;
    padding-left: 0;
    width: 800px;
    list-style-position: inside;
  /*border: 1px solid #000;*/
}

#category-sidebar{
    /*border-right: 1px solid #D3D1CB;*/
    padding-right: 20px;
}

.task{
    padding: 0 10px;
    display: inline-block;
    border: 1px solid #D3D1CB;
    width: 100%;
    margin-bottom: 10px;
    box-shadow: rgba(15, 15, 15, 0.1) 0 0 0 1px, rgba(15, 15, 15, 0.1) 0 2px 4px;
    border-radius: 5px;
    /*background: #EDECE9;*/
}

.task-name{
    font-size: 1.2em;
    margin: 10px 20px 20px 0;
}

.task-img{
    float: right; /* Выравнивание по правому краю  */
    margin: 0 0 20px 20px; /* Отступы вокруг картинки */
    max-block-size: 180px;
}

.task-action{
    list-style: none; /*убираем маркеры списка*/
    margin: 0; /*убираем верхнее и нижнее поле, равное 1em*/
    padding-left: 0; /*убираем левый отступ, равный 40px*/
    display: flex;
    /*color: blue;*/
}



.task-action li{
    padding: 10px 10px 10px 0;
}


/* --- for cat_detail.html page --- */

.title-container{
    display: flex;
    justify-content: space-between;
}

.comment{
    padding: 20px 0;
}

.comment .text{
    border: 1px solid #D3D1CB;
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
}